.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.heroSection2:global(.__wab_instance) {
  position: relative;
}
.freeBox__lXgP {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__lXgP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__lXgP > :global(.__wab_flex-container) > *,
.freeBox__lXgP > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__hPf6G {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hPf6G > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hPf6G > :global(.__wab_flex-container) > *,
.freeBox__hPf6G > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__onaVx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.freeBox__ojry1 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
  background: #ffffff;
  padding: 4px 8px;
}
.freeBox__q9RoT {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: UGmByHrsNEO3 */;
}
.freeBox__xcBt3 {
  font-size: 20px;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
  line-height: 28px;
}
.freeBox__tEeQg {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__tEeQg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__tEeQg > :global(.__wab_flex-container) > *,
.freeBox__tEeQg > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__ncxLn:global(.__wab_instance) {
  position: relative;
}
.svg___9JbhF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox__e61Hl {
  height: auto;
}
.svg__tow2T {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.button__kZzCg:global(.__wab_instance) {
  position: relative;
}
.svg__gZiq4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox__nnFhQ {
  height: auto;
  font-weight: 400;
}
.svg__a5YIf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox___9QoKw {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox___9QoKw > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___9QoKw > :global(.__wab_flex-container) > *,
.freeBox___9QoKw > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__zfBkK {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox__kgKo {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__kgKo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kgKo > :global(.__wab_flex-container) > *,
.freeBox__kgKo > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox___6VMes {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___6VMes > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___6VMes > :global(.__wab_flex-container) > *,
.freeBox___6VMes > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__rzHp1:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__uLquT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.svg__e866O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.button__hUzeK:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__yGJp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.svg__c9Pc3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox__dScLl {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__dScLl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dScLl > :global(.__wab_flex-container) > *,
.freeBox__dScLl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.divider__spmfM:global(.__wab_instance) {
  position: relative;
}
.divider__eRTrA:global(.__wab_instance) {
  position: relative;
}
.freeBox__a2Dzl {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__a2Dzl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__a2Dzl > :global(.__wab_flex-container) > *,
.freeBox__a2Dzl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.button__tVr4J:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___7BxqO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.svg__d2KQf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff80 /* plasmic-token: TFKMsx5c_xrM */;
}
.divider___3N6Sd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox___24Ze {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox___1IhHs {
  position: relative;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.navigation:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__h8Eln {
  object-fit: cover;
  width: 40px;
}
.img__h8Eln > picture > img {
  object-fit: cover;
}
.button__i2Iq1:global(.__wab_instance) {
  position: relative;
}
.svg__vxSrx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.svg__uM4DL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.button__swPzY:global(.__wab_instance) {
  position: relative;
}
.svg__ftvFa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.svg__pbPZs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.button___9PxYb:global(.__wab_instance) {
  position: relative;
}
.svg__wZrk2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.svg___6ZDqw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.button__dQdSk:global(.__wab_instance) {
  position: relative;
}
.svg__gzaT9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox___0Rbqs {
  height: auto;
}
.svg__rZx2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.button__xzhA:global(.__wab_instance) {
  position: relative;
}
.svg__g5A8R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.svg__rEj2F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.button__sTzoT:global(.__wab_instance) {
  position: relative;
}
.svg__okYA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.svg__yk37A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox__vydfY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___0M43 {
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox___0M43 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0M43 > :global(.__wab_flex-container) > *,
.freeBox___0M43 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__sgwks {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: UGmByHrsNEO3 */;
  line-height: 1;
}
.freeBox__e9O3F {
  font-size: 20px;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
  text-align: left;
  line-height: 28px;
}
.freeBox__mlG3C {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__mlG3C > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__mlG3C > :global(.__wab_flex-container) > *,
.freeBox__mlG3C > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 48px;
}
.freeBox___9V9Ha {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___9V9Ha > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox___9V9Ha > :global(.__wab_flex-container) > *,
.freeBox___9V9Ha > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9V9Ha {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9V9Ha > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9V9Ha > :global(.__wab_flex-container) > *,
  .freeBox___9V9Ha > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__lz3Ef:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kBTu5 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__cgGcu {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.valueprop__eZGzt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__glxQ {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__yK2Cu {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.valueprop___6Mb91:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__neuEl {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__qzgzb {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.valueprop__t5Ghd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__iIgNs {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__xc2Hb {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.freeBox__jcPO {
  height: auto;
}
.freeBox__g3Sx5 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__g3Sx5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__g3Sx5 > :global(.__wab_flex-container) > *,
.freeBox__g3Sx5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 48px;
}
.freeBox__rn9Cz {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__rn9Cz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__rn9Cz > :global(.__wab_flex-container) > *,
.freeBox__rn9Cz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rn9Cz {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rn9Cz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rn9Cz > :global(.__wab_flex-container) > *,
  .freeBox__rn9Cz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__lVyIe:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nTu3R {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___4D3 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.freeBox__jEqei {
  height: auto;
}
.valueprop__cpm2A:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nenP {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__hJakQ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.valueprop___2GTfZ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vOkP0 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__q3X {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.valueprop___8Jwpv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yKmoU {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__sJmtk {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.freeBox__pOt9H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__eXs3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__eXs3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eXs3 > :global(.__wab_flex-container) > *,
.freeBox__eXs3 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__lk3Vm {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: Ff0Ux1vP09fC */;
}
.h2__sHt72 {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 8CU0jzPMKrTy */;
  line-height: 1;
}
.freeBox__hc1Tw {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: TFKMsx5c_xrM */;
  line-height: 28px;
  height: auto;
}
.button__khB4H:global(.__wab_instance) {
  position: relative;
}
.svg__yyVCd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox__tVdfe {
  color: #0a84ff /* plasmic-token: IzS_SnwgFPYT */;
}
.svg__lxUz5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: IzS_SnwgFPYT */;
}
.freeBox__khEeN {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__m1Hj2:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___56Ly {
  color: #ffffffd9 /* plasmic-token: 8CU0jzPMKrTy */;
}
.svg__qlxfI {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: Ff0Ux1vP09fC */;
}
.listItem__kEury:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__dGo8N {
  color: #ffffffd9 /* plasmic-token: 8CU0jzPMKrTy */;
}
.svg__trNRa {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: Ff0Ux1vP09fC */;
}
.listItem__ipusl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__hgDre {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 8CU0jzPMKrTy */;
}
.svg__aCmEw {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: Ff0Ux1vP09fC */;
}
.listItem__iLfmG:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__mhmsc {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 8CU0jzPMKrTy */;
}
.svg__bcLoa {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: Ff0Ux1vP09fC */;
}
.listItem__zH0Pk:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___0XFjT {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 8CU0jzPMKrTy */;
}
.svg__rkEBl {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: Ff0Ux1vP09fC */;
}
.freeBox__dv5Dr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__f4R {
  display: flex;
  flex-direction: column;
}
.freeBox__f4R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__f4R > :global(.__wab_flex-container) > *,
.freeBox__f4R > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__vaPtb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__w8SIs {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 8CU0jzPMKrTy */;
  line-height: 1;
}
.freeBox___63Pai {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: TFKMsx5c_xrM */;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__k1UbM {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
}
.freeBox__k1UbM > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__k1UbM {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__k1UbM > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__k1UbM > :global(.__wab_flex-container) > *,
  .freeBox__k1UbM > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___0783Z {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0783Z {
    border-radius: 16px;
  }
}
.freeBox__nC7JM {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__nC7JM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nC7JM > :global(.__wab_flex-container) > *,
.freeBox__nC7JM > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__w2Gui {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox___53L9N {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___53L9N > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___53L9N > :global(.__wab_flex-container) > *,
.freeBox___53L9N > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.freeBox__jrEaT {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__hXnXe {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: UGmByHrsNEO3 */;
  width: auto;
  display: inline-block;
}
.freeBox__hwYm {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: UGmByHrsNEO3 */;
  width: auto;
  display: inline-block;
}
.freeBox__tSkjY {
  line-height: 28px;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider__eolf0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__kz60S {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__kz60S > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__kz60S > :global(.__wab_flex-container) > *,
.freeBox__kz60S > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__fzkKq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__fzkKq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fzkKq > :global(.__wab_flex-container) > *,
.freeBox__fzkKq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.valueprop__bbaQm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vb4Lk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__jtGkK {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.valueprop__nAndi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1XMo3 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___3BmcI {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.svg__r1Clq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox__lc6Wk {
  height: auto;
}
.svg__qNdae {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox__leVTb {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  border-radius: 16px;
  border: 4px solid #34c759 /* plasmic-token: jaBNc7y0_PxL */;
}
.freeBox__gtFm {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__gtFm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gtFm > :global(.__wab_flex-container) > *,
.freeBox__gtFm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__jbOWs {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__ytZpU {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ytZpU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ytZpU > :global(.__wab_flex-container) > *,
.freeBox__ytZpU > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.freeBox__eYdw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__cpHki {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: UGmByHrsNEO3 */;
  width: auto;
  display: inline-block;
}
.freeBox__vV6AA {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: UGmByHrsNEO3 */;
  width: auto;
  display: inline-block;
}
.freeBox__gKaMi {
  line-height: 28px;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider___5NZuD:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__bWJD {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__bWJD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__bWJD > :global(.__wab_flex-container) > *,
.freeBox__bWJD > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox___2Hmvh {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___2Hmvh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___2Hmvh > :global(.__wab_flex-container) > *,
.freeBox___2Hmvh > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.valueprop___9Cc4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__o0DVq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__aWJM {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.valueprop__rVg53:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox___8Kv7H {
  height: auto;
}
.svg__riwZm {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___6L8V {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.valueprop__tAcqq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hFql8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__ukP0O {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.valueprop__zkCns:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__s7SrR {
  height: auto;
}
.svg__hTh8R {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__nSl6H {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.svg__lqZra {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox__gxVYb {
  height: auto;
}
.svg__hVnss {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox__pfimh {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pfimh {
    border-radius: 16px;
  }
}
.freeBox__vKc1A {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__vKc1A > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vKc1A > :global(.__wab_flex-container) > *,
.freeBox__vKc1A > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__kz8A {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__oflat {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__oflat > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__oflat > :global(.__wab_flex-container) > *,
.freeBox__oflat > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.freeBox__rqBJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__wbhCm {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: UGmByHrsNEO3 */;
  width: auto;
  display: inline-block;
}
.freeBox__aPFhi {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: UGmByHrsNEO3 */;
  width: auto;
  display: inline-block;
}
.freeBox__oB8Jv {
  line-height: 28px;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider___69TAk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__mYy6 {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__mYy6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mYy6 > :global(.__wab_flex-container) > *,
.freeBox__mYy6 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__xktMj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__xktMj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xktMj > :global(.__wab_flex-container) > *,
.freeBox__xktMj > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.valueprop___2JsNi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__iBgL {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__yjRlr {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.valueprop__m4Kdy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___3OZGf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__nriQy {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: KDqLMtgFDPZg */;
}
.svg___7T105 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox__qSml {
  height: auto;
}
.svg__dYajT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.shopBanners:global(.__wab_instance) {
  position: relative;
}
.banner___41BaQ:global(.__wab_instance) {
  position: relative;
}
.img__ifGly {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__ifGly > picture > img {
  object-fit: cover;
}
.freeBox___38Zj7 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__eXeO {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: UGmByHrsNEO3 */;
  line-height: 1;
  height: auto;
}
.svg__bOe9T {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox__cDLrp {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: a6W75LIonzin */;
  white-space: pre;
  display: inline-block;
}
.svg__tkDxC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox__eam4Y {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__eam4Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__eam4Y > :global(.__wab_flex-container) > *,
.freeBox__eam4Y > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eam4Y {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eam4Y > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eam4Y > :global(.__wab_flex-container) > *,
  .freeBox__eam4Y > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.img__uUpN4 {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__uUpN4 > picture > img {
  object-fit: cover;
}
.freeBox__rNDz {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__fk3Wf {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: UGmByHrsNEO3 */;
  line-height: 1;
  height: auto;
}
.svg__jmAn1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox__dc9PP {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: a6W75LIonzin */;
  white-space: pre;
  display: inline-block;
}
.svg__fDQv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.banner__z0S36:global(.__wab_instance) {
  position: relative;
}
.img__tfIf {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__tfIf > picture > img {
  object-fit: cover;
}
.freeBox__y6Zkb {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__nxJns {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: UGmByHrsNEO3 */;
  line-height: 1;
  height: auto;
}
.svg__b7KPm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox__pfYa {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: a6W75LIonzin */;
  white-space: pre;
  display: inline-block;
}
.svg__t9L5L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.logoCloudSection2:global(.__wab_instance) {
  position: relative;
}
.img__f2Umj {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__f2Umj > picture > img {
  object-fit: cover;
}
.img__kdqKn {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__kdqKn > picture > img {
  object-fit: cover;
}
.img__bytw {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__bytw > picture > img {
  object-fit: cover;
}
.img__m01P0 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__m01P0 > picture > img {
  object-fit: cover;
}
.img__fz7Fg {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__fz7Fg > picture > img {
  object-fit: cover;
}
.freeBox___7MwTj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.testimonial__maGdk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__gkxzt {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__pGWx1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__i5Y2T {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__i5Y2T > picture > img {
  object-fit: cover;
}
.testimonial__nQZy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__nMmKk {
  height: auto;
}
.freeBox___8VmDu {
  height: auto;
}
.img__ozTeg {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__ozTeg > picture > img {
  object-fit: cover;
}
.testimonial__pKXiJ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__aqaHo {
  height: auto;
}
.img__qMvoV {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.callToActionSection1:global(.__wab_instance) {
  position: relative;
}
.img___55Hfe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img___55Hfe > picture > img {
  object-fit: cover;
}
.freeBox__lIaT {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: #007aff;
}
.freeBox__spr1S {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__spr1S > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__spr1S > :global(.__wab_flex-container) > *,
.freeBox__spr1S > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__jDvQh {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #ffffffd9 /* plasmic-token: 8CU0jzPMKrTy */;
}
.freeBox__jlMrb {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 8CU0jzPMKrTy */;
  line-height: 1;
}
.freeBox__dpY8 {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: TFKMsx5c_xrM */;
  line-height: 28px;
}
.freeBox___8Gtwr {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___8Gtwr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___8Gtwr > :global(.__wab_flex-container) > *,
.freeBox___8Gtwr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__aeL4L:global(.__wab_instance) {
  position: relative;
}
.svg__xJhJe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.svg__cvHk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.button__bhMF:global(.__wab_instance) {
  position: relative;
}
.svg___9EA0B {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
.freeBox___12W7C {
  height: auto;
  font-weight: 400;
}
.svg__zyCSj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: dxS04Mdg1vdq */;
}
